window {
	font-size: 12px;
	font-weight: 500;
	font-family: "Roboto Medium";
	background-color: black;

}

#outer-box {

	padding-bottom: 10px;
}

#entry {
	background-color: black;
}

#entry:selected {
	margin: 0 10px 0 10px;
	background: linear-gradient(45deg, #5FD1FA 0%, #E7A1F1 60%);
}

#input {
	background-color: black;
	border-radius: 0;
	font-size: 15px;
	font-weight: 500;
	color: grey;
	border: none;
	box-shadow: none;
}

#input:focus {
	color: #fff;
}

#img {
	padding-right: 10px;
}

#text:selected {
	color: #333333;
}
